.wrapper {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  background-color: #feeddd;
  justify-content: stretch;
  padding: 8px;
  margin: auto;
}

.text-block {
  border-radius: 7px;
  padding: 5px;
  margin: 8px;
  flex: 1 1 300px;
  border: 1px solid #f3c6b5;
}

.wrapper .text-block:nth-of-type(even) {
  background-color: #e8f6ff;
  border: 1px solid #b1c1e4;
}